<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebShop</display-name>
  <welcome-file-list>
    <welcome-file>welcomeAction</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>welcomeServlet</servlet-name>
    <servlet-class>com.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcomeServlet</servlet-name>
    <url-pattern>/welcomeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>com.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/searchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>com.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCartAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>regist</servlet-name>
    <servlet-class>com.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regist</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpLoadServlet</display-name>
    <servlet-name>UpLoadServlet</servlet-name>
    <servlet-class>com.servlet.UpLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpLoadServlet</servlet-name>
    <url-pattern>/UpLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFromCartServlet</display-name>
    <servlet-name>DeleteFromCartServlet</servlet-name>
    <servlet-class>com.servlet.DeleteFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFromCartServlet</servlet-name>
    <url-pattern>/DeleteFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BalanceServlet</display-name>
    <servlet-name>BalanceServlet</servlet-name>
    <servlet-class>com.servlet.BalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalanceServlet</servlet-name>
    <url-pattern>/BalanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyInfoServlet</display-name>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <servlet-class>com.servlet.ModifyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <url-pattern>/ModifyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfterPay</display-name>
    <servlet-name>AfterPay</servlet-name>
    <servlet-class>com.servlet.AfterPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterPay</servlet-name>
    <url-pattern>/AfterPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayAndDelete</display-name>
    <servlet-name>PayAndDelete</servlet-name>
    <servlet-class>com.servlet.PayAndDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayAndDelete</servlet-name>
    <url-pattern>/PayAndDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilServlet</display-name>
    <servlet-name>UtilServlet</servlet-name>
    <servlet-class>com.servlet.UtilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilServlet</servlet-name>
    <url-pattern>/UtilServlet</url-pattern>
  </servlet-mapping>
</web-app>