/* user-cart addtocart-201608.css Date:2017-05-04 13:48:46 */
.card-lists .btn-append b,.goods-list .btn-append b {
 background-image:url(//misc.360buyimg.com/user/cart/widget/addtocart-201608/i/addtocart-icons.png)
}
.ftx-01,.ftx01 {
 color:#e4393c
}
.ftx-02,.ftx02 {
 color:#71b247
}
.ftx-03,.ftx03,.gray,.grey {
 color:#aaa
}
.ftx-04,.ftx04 {
 color:#ff6c00
}
.ftx-05,.ftx05 {
 color:#005ea7
}
.ftx-06,.ftx06 {
 color:#666
}
.success-wrap {
 height:145px;
 background:#f5f5f5;
 margin-bottom:20px
}
.succeed-box .success-cont {
 display:inline-block;
 display:block;
 font-family:"Microsoft YaHei"
}
.succeed-box .success-cont:after {
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden
}
* html .succeed-box .success-cont {
 height:1%
}
*+html .succeed-box .success-cont {
 min-height:1%
}
.succeed-box .success-top {
 position:relative;
 padding-left:35px;
 margin:20px 0
}
.succeed-box .success-top h3 {
 font-size:18px;
 line-height:25px;
 font-weight:400
}
.succeed-box .success-top .error-icon,.succeed-box .success-top .succ-icon {
 position:absolute;
 top:0;
 left:0;
 display:block;
 width:25px;
 height:25px;
 overflow:hidden;
 background:url(//misc.360buyimg.com/user/cart/widget/addtocart-201608/i/addtocart-icons.png) 0 0 no-repeat
}
.succeed-box .success-top .error-icon {
 background-position:-35px 0
}
.succeed-box .success-lcol {
 float:left
}
.succeed-box .success-btns {
 float:right;
 *width:338px;
 font-size:0;
 overflow:hidden
}
.succeed-box .p-img {
 float:left;
 width:60px;
 margin-right:10px;
 border:1px solid #e8e8e8
}
.succeed-box .p-info {
 float:left;
 width:520px;
 margin:0
}
.succeed-box .p-name {
 width:100%;
 line-height:28px;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 font-size:14px
}
.succeed-box .p-name a {
 color:#333
}
.succeed-box .p-name a:hover {
 color:#e4393c
}
.succeed-box .project-sam-icon {
 display:inline-block;
 background-image:url(//misc.360buyimg.com/user/cart/css/i/projectsam-sprite.png);
 background-repeat:no-repeat
}
.succeed-box .project-sam-icon-b {
 float:left;
 background-position:0 4px;
 height:26px;
 width:46px
}
.succeed-box .p-extra {
 display:inline-block;
 display:block;
 color:#aaa
}
.succeed-box .p-extra:after {
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden
}
* html .succeed-box .p-extra {
 height:1%
}
*+html .succeed-box .p-extra {
 min-height:1%
}
.succeed-box .p-extra .txt {
 float:left;
 max-width:135px;
 margin-right:5px;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 _display:inline
}
.succeed-box .p-extra .txt.txt-l {
 max-width:inherit
}
.succeed-box .success-ad {
 float:right;
 height:70px;
 width:106px;
 margin:10px 0
}
.succeed-box .btn-addtocart,.succeed-box .btn-tobback,.succeed-box .btn-viewcart {
 display:inline-block;
 *display:inline;
 *zoom:1;
 height:34px;
 line-height:36px;
 font-size:16px;
 vertical-align:middle
}
.succeed-box .btn-tobback {
 padding:0 30px;
 margin-right:10px;
 *margin-right:9px;
 background:#fff;
 color:#e4393c;
 border:1px solid #fff
}
.succeed-box .btn-tobback:hover {
 border:1px solid #e4393c
}
.succeed-box .btn-addtocart {
 position:relative;
 width:136px;
 padding-left:30px;
 background:#e4393c;
 border:1px solid #e4393c;
 color:#fff
}
.succeed-box .btn-addtocart b {
 position:absolute;
 top:8px;
 right:15px;
 width:10px;
 height:20px;
 overflow:hidden;
 background:url(//misc.360buyimg.com/user/cart/widget/addtocart-201608/i/addtocart-icons.png) -20px -81px no-repeat
}
.succeed-box .btn-addtocart:hover {
 background:#c91623
}
.succeed-box .btn-viewcart {
 position:relative;
 width:138px;
 padding-left:30px;
 background:#fff;
 color:#e4393c
}
.succeed-box .btn-viewcart b {
 position:absolute;
 top:8px;
 right:15px;
 width:10px;
 height:20px;
 overflow:hidden;
 background:url(//misc.360buyimg.com/user/cart/widget/addtocart-201608/i/addtocart-icons.png) 0 -81px no-repeat
}
.fail-box .btn-tobback {
 background:#e4393c;
 color:#fff
}
.m1 {
 font-family:"Microsoft YaHei"
}
.m1 .mt {
 display:inline-block;
 display:block;
 margin-bottom:10px
}
.m1 .mt:after {
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden
}
* html .m1 .mt {
 height:1%
}
*+html .m1 .mt {
 min-height:1%
}
.m1 .mt h3 {
 float:left;
 font-size:14px;
 color:#666
}
.m1 .mt .extra-r {
 float:right
}
.m1 .s-panel-main {
 position:relative
}
.m1 .s-panel-nav {
 position:absolute;
 bottom:0;
 width:100%;
 height:auto;
 display:block;
 text-align:center;
 line-height:30px;
 *height:30px;
 *vertical-align:middle
}
.m1 .s-panel-nav .s-nav-item {
 padding:4px 9px;
 margin:0 8px;
 border:1px solid #fff;
 cursor:pointer;
 display:inline;
 line-height:12px;
 background-color:#f5f5f5;
 border-radius:15px;
 *line-height:40px
}
.m1 .s-panel-nav .curr {
 color:#e4393c;
 border-color:#e4393c;
 border-radius:15px;
 background-color:#fff
}
.goods-list {
 width:100%
}
.goods-list ul {
 display:inline-block;
 display:block;
 width:100%;
 height:100%
}
.goods-list ul:after {
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden
}
* html .goods-list ul {
 height:1%
}
*+html .goods-list ul {
 min-height:1%
}
.goods-list li {
 float:left;
 margin-bottom:40px
}
.goods-list .item {
 position:relative;
 width:260px;
 background:#fff;
 overflow:hidden;
 margin:0 40px 0 0
}
.goods-list .item-last {
 margin-right:0
}
.goods-list .p-img {
 width:88px;
 margin-right:10px;
 float:left;
 border:1px solid #eee
}
.goods-list .p-name {
 height:36px;
 width:160px;
 float:left;
 line-height:18px;
 overflow:hidden;
 margin-bottom:4px
}
.goods-list .p-name a {
 color:#333
}
.goods-list .p-name a:hover {
 color:#e4393c
}
.goods-list .p-price {
 width:160px;
 height:19px;
 overflow:hidden;
 text-align:left;
 margin-bottom:11px
}
.goods-list .p-price strong {
 font-size:14px;
 color:#d91f20;
 font-family:verdana;
 font-weight:400
}
.goods-list .p-price strong i {
 font-family:arial
}
.goods-list .p-price .pt {
 color:#fff;
 background:#e4393c;
 padding:0 2px;
 margin-right:2px;
 font-size:12px
}
.goods-list .p-btn {
 text-align:center;
 float:left
}
.goods-list .btn-append {
 display:inline-block;
 *display:inline;
 *zoom:1;
 height:28px;
 line-height:28px;
 padding:0 10px;
 border:1px solid #ddd;
 color:#333;
 text-align:center;
 border-radius:2px
}
.goods-list .btn-append b {
 display:inline-block;
 height:18px;
 width:18px;
 margin-right:5px;
 background-position:0 -57px;
 background-repeat:no-repeat;
 overflow:hidden;
 vertical-align:middle
}
.goods-list .btn-append:hover {
 border-color:#e4393c;
 background:#e4393c;
 color:#fff
}
.goods-list .btn-append:hover b {
 background-position:-28px -57px
}
.goods-list .hover {
 z-index:2
}
.root61 .goods-list .item {
 width:270px
}
.goods-list-tab .s-item {
 display:inline-block;
 *display:inline;
 *zoom:1;
 width:8px;
 height:8px;
 overflow:hidden;
 background:#aaa;
 vertical-align:middle;
 border-radius:4px
}
.goods-list-tab .curr {
 width:26px;
 background:#e4393c
}
#promotion,#similar {
 overflow:hidden;
 height:330px;
 position:relative
}
#promotion .mc,#similar .mc {
 overflow:visible
}
#promotion .s-panel,#promotion .s-panel-main,#similar .s-panel,#similar .s-panel-main {
 height:290px;
 width:1210px
}
.card-lists {
 margin-bottom:10px
}
.card-lists ul {
 display:inline-block;
 display:block;
 width:1240px
}
.card-lists ul:after {
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden
}
* html .card-lists ul {
 height:1%
}
*+html .card-lists ul {
 min-height:1%
}
.card-lists li {
 float:left;
 margin-right:22px
}
.card-lists .card-item {
 position:relative;
 width:229px;
 padding-bottom:30px;
 border:1px solid #ddd;
 border-radius:10px;
 text-align:center
}
.card-lists .card-msg {
 position:relative;
 height:113px;
 color:#fff;
 background:#e56;
 border-radius:10px 10px 0 0
}
.card-lists .card-msg a {
 color:#fff
}
.card-lists .card-msg h5 {
 padding:25px 0 10px;
 font-size:16px
}
.card-lists .card-msg h4 {
 font-size:26px;
 line-height:30px
}
.card-lists .card-msg .msg-bottom {
 position:absolute;
 display:block;
 left:0;
 bottom:0;
 width:100%;
 height:6px;
 overflow:hidden;
 background:url(//misc.360buyimg.com/user/cart/widget/addtocart-201608/i/addtocart-icons.png) 0 -35px repeat-x
}
.card-lists .p-price {
 width:100%;
 height:19px;
 margin:30px 0 10px;
 overflow:hidden
}
.card-lists .p-price strong {
 font-size:16px;
 color:#d91f20;
 font-family:verdana;
 font-weight:400
}
.card-lists .p-price strong i {
 font-family:arial
}
.card-lists .p-price .pt {
 color:#fff;
 background:#e4393c;
 padding:0 2px;
 font-size:12px
}
.card-lists .btn-append {
 display:inline-block;
 height:28px;
 line-height:28px;
 padding:0 20px;
 border:1px solid #999;
 color:#666;
 border-radius:3px
}
.card-lists .btn-append b {
 display:inline-block;
 height:18px;
 width:18px;
 margin-right:5px;
 background-position:0 -57px;
 background-repeat:no-repeat;
 overflow:hidden;
 vertical-align:middle
}
.card-lists .btn-append:hover {
 border-color:#e4393c;
 background:#e4393c;
 color:#fff
}
.card-lists .btn-append:hover b {
 background-position:-28px -57px
}
.card-lists .card-item01 .card-msg {
 background:#e56
}
.card-lists .card-item01 .p-price strong {
 color:#e56
}
.card-lists .card-item01:hover {
 border-color:#e56
}
.card-lists .card-item02 .card-msg {
 background:#85b
}
.card-lists .card-item02 .p-price strong {
 color:#85b
}
.card-lists .card-item02:hover {
 border-color:#85b
}
.card-lists .card-item03 .card-msg {
 background:#0a6
}
.card-lists .card-item03 .p-price strong {
 color:#0a6
}
.card-lists .card-item03:hover {
 border-color:#0a6
}
.card-lists .card-item04 .card-msg {
 background:#eb2
}
.card-lists .card-item04 .p-price strong {
 color:#eb2
}
.card-lists .card-item04:hover {
 border-color:#eb2
}
.root61 .card-lists ul {
 width:1240px
}
.root61 .card-lists .card-item {
 width:284px
}
.root61 .card-lists .card-msg h5 {
 font-size:16px
}
.root61 .card-lists .card-msg h4 {
 font-size:32px
}
.addtocart-error-cont {
 height:165px;
 width:365px;
 display:block
}
.addtocart-error-cont .addtocart-error i {
 height:50px;
 width:50px;
 float:left;
 margin-left:50px;
 margin-top:30px;
 margin-right:10px;
 background:url(//misc.360buyimg.com/user/cart/widget/addtocart-201608/i/warn-ico.png) 0 0 no-repeat
}
.addtocart-error-cont .addtocart-error span {
 font-family:"Microsoft YaHei";
 font-size:16px;
 margin-top:40px;
 max-width:250px;
 display:inline-block
}
.addtocart-error-cont .cls-btn {
 font-size:16px;
 display:block;
 height:28px;
 width:40px;
 text-align:center;
 line-height:28px;
 clear:both;
 margin-top:30px;
 margin-left:160px;
 padding:2px 10px;
 background-color:#f5f5f5;
 border:1px solid #ddd;
 cursor:pointer
}
.addsucc-tips,.addsucc-tips-card {
 display:block;
 position:absolute;
 top:35px;
 left:26%;
 height:30px;
 line-height:30px;
 padding:1px 25px;
 background:#fff;
 box-shadow:0 0 5px #ddd
}
.addsucc-tips i,.addsucc-tips-card i {
 width:20px;
 height:26px;
 float:left;
 background:url(//misc.360buyimg.com/user/cart/widget/addtocart-201608/i/addsucc.png) 0 8px no-repeat
}
.addsucc-tips-card {
 top:95px;
 left:16%
}
.root61 .addsucc-tips-card {
 left:23%
}
