a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
    background: #fff;
    _background-image: url(about:blank);
    _background-attachment: fixed;
}
.w {
    width: 990px;
    margin: 0 auto;
}
#logo {
    position: relative;
    width: 300px;
    margin: 10px 0;
    height: 60px;
    float: left;
    background:#ff00ff;
}
a {
    color: #666;
    text-decoration: none;
}

#content {
    clear: both;
}
#content .tips-wrapper {
    background: #fff8f0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#content .tips-wrapper .cont-wrapper {
    display: inline-block;
    *display: inline;
    width: 90%;
}
#content .tips-wrapper .icon-tips {
    background: url(./imgs/icon-tips.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
#content .tips-wrapper .tips-inner p {
    vertical-align: middle;
    color: #999;
    font-size: 12px;
    display: inline-block;
    *display: inline;
}
#content .tips-wrapper .tips-inner .black {
    color: #333;
}
#content .login-wrap {

    margin-top: 0;

}
.login-wrap {

    position: relative;
    height: 475px;
    margin: 10px 0 20px;
        margin-top: 10px;
    z-index: 5;

}
.login-wrap .login-form {

    float: right;
    top: 10px;

}
.login-form {

    position: relative;
    z-index: 4;
    background: #fff;
    overflow: visible;
    width: 346px;

}
#content .tips-wrapper {

    background: #fff8f0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}
#content .tips-wrapper .cont-wrapper {

    display: inline-block;
    *display: inline;
    width: 90%;

}
#content .tips-wrapper .icon-tips {

    background: url(./imgs/icon-tips.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;

}
#content .tips-wrapper .tips-inner p {

    vertical-align: middle;
    color: #999;
    font-size: 12px;
    display: inline-block;
    *display: inline;

}
.login-form .login-tab-l, .login-form .login-tab-r {

    width: 173px;

}
.login-form .login-tab {

    height: 54px;
    font-size: 18px;
    font-family: "microsoft yahei";
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    background: #fff;
    display: block;

}
.login-form .login-tab a {

    width: 99%;
    height: 18px;
    position: absolute;
    left: 0;
    top: 18px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;

}
.login-form .login-tab-r {

    right: 0;

}
.login-form .login-tab-l, .login-form .login-tab-r {

    width: 173px;

}
.login-form .login-tab a.checked, .login-form .login-tab a:hover {

    font-weight: 700;
    color: #e4393c;

}
.login-form .login-box {

    width: 306px;
    padding: 20px;
    visibility: hidden;

}
.login-form .login-box .tab-h {

    height: 35px;

}
.login-form .login-box .mt {

    display: inline-block;
    display: block;
    width: 306px;
    overflow: visible;
    height: 27px;

}
.mt, .smt {

    cursor: default;

}
.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {

    overflow: hidden;
    zoom: 1;

}
.login-form .login-box .mt::after {

    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;

}
.login-form .msg-wrap {

    min-height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto !important;

}
.login-form .msg-error {

    position: relative;
    background: #ffebeb;
    color: #e4393c;
    border: 1px solid #faccc6;
    padding: 3px 10px 3px 40px;
    line-height: 15px;
    height: auto;

}
.hide {

    display: none;

}
.login-form .login-box .mc {

    overflow: visible;

}
.form .label, .form button, .form input, .form label, .form select, .form textarea {

    float: left;
    font-size: 12px;

}
.hide {

    display: none;

}
.form .item-fore1 {

    z-index: 6;

}
.form .item-fore1, .form .item-fore2 {

    border: 1px solid #bdbdbd;
    height: 38px;
    width: 304px;

}
.form .item {

    position: relative;
    margin-bottom: 20px;
    z-index: 1;

}
.form .item .name-label {

    background-position: 0 0;

}
.form .item .login-label {

    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(./imgs/pwd-icons-new.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;

}
.form label {

    float: none;

}
.form .itxt {

    line-height: 18px;
    height: 18px;
    border: 0;
    padding: 10px 0 10px 50px;
    width: 254px;
    float: none;
    overflow: hidden;
    font-size: 14px;
    font-family: '\5b8b\4f53';
    *margin: -1px 0 0;

}
.form .item-fore1 .clear-btn, .form .item-fore2 .clear-btn {

    position: absolute;
    z-index: 20;
    right: 6px;
    top: 12px;
    width: 14px;
    height: 14px;
    background: url(./imgs/pwd-icons-new.png) -25px -143px no-repeat;
    cursor: pointer;
    display: none;

}
.form .item-fore2 {

    height: 38px;
    visibility: hidden;

}
.form .item .pwd-label {

    background-position: -48px 0;

}
.form .item .login-label {

    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(./imgs/pwd-icons-new.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;

}
.form label {

    float: none;

}
.form input[type="password"] {

    font-family: Tahoma,Helvetica,Arial;

}
.form .item-fore1 .capslock, .form .item-fore2 .capslock {

    position: absolute;
    z-index: 4;
    display: none;
    width: 106px;
    top: 28px;
    left: 50px;
    padding-left: 26px;
    height: 26px;
    line-height: 28px;
    overflow: hidden;
    background: url(./imgs/capslock.png) no-repeat;

}
.form .item-fore1 .capslock b, .form .item-fore2 .capslock b {

    display: block;
    position: absolute;
    top: 7px;
    left: 10px;
    width: 10px;
    height: 14px;
    overflow: hidden;
    background: url(./imgs/pwd-icons-new.png) -104px -133px no-repeat;

}
.form .item-fore4 {

    *float: left;
    *margin-top: 15px;

}
.login-form .login-box .safe {

    position: relative;
    color: #666;
    *float: left;
    *width: 305px;

}
.login-form .login-box .safe span {

    margin-right: 15px;
    *float: left;

}
.login-form .login-box .safe .forget-pw-safe {

    position: absolute;
    *float: right;
    *position: static;
    right: 0;
    top: 0;
    margin: 0;

}
.form .item-fore5 {

    margin-bottom: 10px;

}
.login-form .login-box .login-btn {

    border: 1px solid #cb2a2d;
    margin: 0 auto;
    height: 32px;
    width: 99%;
    position: relative;

}
.login-form .login-box .login-btn .btn-img {

    border: 1px solid #e85356;
    display: block;
    width: 302px;
    background: #e4393c;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 20px;
    font-family: 'Microsoft YaHei';

}
.btn-img, .button {

    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    cursor: pointer;

}
.coagent {

    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    border-top: 1px solid #f4f4f4;
    height: auto;
    background-color: #fcfcfc;

}
.coagent ul {

    display: inline-block;
    display: block;

}
ol, ul {

    list-style: none;

}
.coagent li {

    float: left;

}
.coagent li a.pdl {

    display: inline-block;
    position: relative;
    padding-left: 24px;

}
.coagent li a.pdl b.QQ-icon {

    background-position: 0 0;

}
.coagent li a.pdl b {

    width: 19px;
    height: 18px;
    display: block;
    background: url(./imgs/QQ-weixin.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
    margin: 0 auto;
    position: absolute;
    float: left;
    left: 0;
    top: 16px;

}
.coagent li .line {

    color: #ccc;
    padding: 0 10px;

}
.coagent li a.pdl b.weixin-icon {

    background-position: -20px 0;

}
.coagent li.extra-r {

    float: right;

}
.coagent .regist-link {

    color: #b61d1d;
    font-size: 14px;

}
.coagent .regist-link a {

    color: #b61d1d;

}
.coagent .regist-link b {

    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(./imgs/pwd-icons-new.png) -104px -75px no-repeat;
    vertical-align: middle;
    margin-right: 5px;

}
.login-wrap .login-banner {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 475px;
    background: #e93854;
        background-color: rgb(233, 56, 84);

}
