a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}
.header {
    height: 110px;
    background: url(./imgs/headbg.jpg) repeat-x left bottom;
}
.headcenter {
    width: 1210px;
    margin: 0 auto;
    display: block;
}
.header .logo {
    width: 160px;
    height: 50px;
    float: left;
    margin-top: 24px;
    background:#ff00ff;
}
a {
    color: #666;
    text-decoration: none;
}
.logotitle{
	float: left;
height: 34px;
line-height: 34px;
font-size: 24px;
color: #333;
padding-left: 20px;
margin-top: 34px;
}
.havaaccount{
	font-size: 16px;
float: right;
margin-top: 55px;
color: #999;
}
.steps {
    height: 46px;
    border-bottom: 2px solid #e6e6e6;
    position: relative;
}
ol, ul {
    list-style: none;
}
.steps ol {
    width: 720px;
    margin: 0 auto;
}
.steps ol li{
	width: 150px;
padding-left: 30px;
}

.steps ol li.active {
    color: #3e3e3e;
    border-bottom: 2px solid #ff4700;
}
.steps ol li.active i {
    background-image: url(./imgs/ico-circle1.png);
}
.steps ol li i {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-style: normal;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background: url(./imgs/ico-circle2.png) no-repeat 0 0;
        background-image: url("./imgs/ico-circle2.png");
}

.steps ol li {
    display: inline;
    float: left;
    width: 170px;
    padding-left: 70px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #999;
    font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;
}

.content {
    padding: 50px 0;
}
.form-main-list {
    width: 720px;
}
.form-list {
    margin: 0 auto;
    font-size: 14px;
}
.form-group {
    padding: 10px 0;
}
.form-item {
    padding: 10px 0 10px 260px;
    line-height: 36px;
    zoom: 1;
}
.form-item .form-label {
    display: inline;
    float: left;
    margin-left: -260px;
    width: 240px;
    height: 37px;
    line-height: 37px;
    text-align: right;
}
.mailtext {
    position: relative;
}
.checkdiv{
	position:relative;
	float:right;
	padding-right:20px;
	color: #ff3f13;
}

.mailtext .mail-input {
    width: 280px;
}
.err-input {
    border-color: #ff3f13;
}
.form-text {
    border: 1px solid #dedede;
        border-top-color: rgb(222, 222, 222);
        border-right-color: rgb(222, 222, 222);
        border-bottom-color: rgb(222, 222, 222);
        border-left-color: rgb(222, 222, 222);
    width: 202px;
    height: 17px;
    line-height: 17px;
    padding: 9px;
    font-size: 15px;
    _margin-left: -3px;
}
.nc-container {
    font-size: 12px;
    -ms-touch-action: none;
    touch-action: none;
}

.nc-container #nc_1_wrapper, .nc-container.tb-login #nc_1_wrapper {

    width: 300px;

}
.nc-container .nc_wrapper {
    width: auto;
}
.form-item .nc_scale {
    font-family: arial,'Hiragino Sans GB',ו,sans-serif;
}
.nc_scale {
    width: auto;
    height: 34px;
    background: #e8e8e8;
    position: relative;
    margin: 0;
    padding: 0;
}
.nc-container .nc_scale .nc_bg {
    position: absolute;
    height: 100%;
    _height: 34px;
    left: 0;
    width: 10px;
}
.nc-container .nc_scale .nc_ok, .nc-container .nc_scale .nc_bg {
    background: #7ac23c;
}
.nc-container .nc_scale div {
    height: auto;
}
.nc-container .nc_scale .btn_slide {
    color: #737383;
    background-image: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nc-container .nc_scale span {
    text-align: center;
    width: 40px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    cursor: move;
    background: #fff;
        background-image: none;
    z-index: 2;
}
.nc_iconfont {
    font-family: "nc_iconfont";
    color: #ff3f08;
    font-size: 16px;
    font-style: normal;
}

.nc-container .nc_scale .scale_text {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    background: transparent;
    color: #9c9c9c;
    line-height: 34px;
    font-size: 12px;
    cursor: pointer;
}
.nc-container .nc_scale div {
    height: auto;
}
.nc-container .scale_text.scale_text span[data-nc-lang="_startTEXT"] {
    display: inline-block;
    width: 100%;
}
.nc-container .nc_scale span.nc-lang-cnt {
    *line-height: 34px;
    float: none;
    width: auto;
    height: auto;
    *height: 34px;
    border: none;
    position: static;
    cursor: inherit;
    background: none;
    z-index: 0;
    display: inline;
}
.nc-container .nc_scale span {
    text-align: center;
    width: 40px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    cursor: move;
    background: #fff;
    z-index: 2;
}
.form-item-short {
    padding-top: 0;
    padding-bottom: 0;
}
.btn-large {
    min-width: 180px;
}
.btn-disabled {
    background-color: #ededed;
    border-color: #ededed;
    color: #999;
    cursor: default;
}
.btn {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background: #ff4001;
        background-color: rgb(255, 64, 1);
    border: 0;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-radius: 3px;
    cursor: pointer;
}







